@font-face{font-family:'COUR';src:url('../fonts/courier/COUR.TTF');}
@font-face{font-family:'COURBD';src:url('../fonts/courier/COURBD.TTF');}

body{
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family:'COUR';
	color: #666;
}
.logo {text-align: right;margin-top: 12px;}
.logo img {
    width: auto;
    height: 20px;
}
.mrT5{margin-top: 5px;}
.mrT10{margin-top: 10px;}
.mrT15{margin-top: 15px;}
.mrT20{margin-top: 20px;}

.mrB5{margin-bottom: 5px;}
.mrB10{margin-bottom: 10px;}
.mrB15{margin-bottom: 15px;}
.mrB20{margin-bottom: 20px;}

.mrR65{margin-right: 65px;}
.mrR42{margin-right: 42px;}

.container{width: 100%;}
.row{margin-right: 15px;margin-left: 15px;}
.col-6{width: 75%;margin: 10px auto;}
.col-4{width: 30%;float: left;padding-left: 10px;padding-right: 10px;}
.float-left{float: left;}
.float-right{float: right;}


.clearfix{clear: both;}
.panel-report{border: 1px solid #ddd;padding: 10px 0px; background-color: #efefef;}
.panel-report .panel-head{color: #fff;background-color: #333333;padding: 15px 55px;font-size: 24px;font-family:'COURBD';}
.panel-report .panel-head .picon{padding-right: 32px;float: left;padding-top: 5px;}
.panel-report .panel-head .picon img{width: 30px;}
.panel-report .panel-head i {display: block; font-size: 13px;font-family:'COUR';}

.panel-report .panel-body{padding:  0;position: relative;}
.main-head{margin: 0 20px;font-family:'COURBD';color: #333}
.panel-report .panel-body .panel-title{padding-left: 100px;margin-bottom: 10px;}
.chip{color: #fff;border-radius: 8px;padding: 4px 10px;font-size: 13px;display: flex;align-items: center;
margin-right: 34px;min-width: 100px;justify-content: center;}
.chip-green{background-color: #5db927;}
.chip-yellow{background-color: #ecd24e;}
.chip .fa {width: 20px;}


.mark{background-color: #5db92794;color: #fff;border-radius: 50px;padding: 1px 3px;font-size: 13px;display: flex;align-items: center; margin-right: 5px;}
.mark img{padding-right: 1px;}

.panel-report .panel-body  .pro-feature{background-color: #fff;padding: 12px 0 12px 100px;padding-left: 100px;margin-bottom: 30px;}
.panel-report .panel-body  .pro-feature .icon img{width: 32px;}
.panel-report .panel-body  .pro-feature .title{font-family:'COURBD';font-weight: bold;margin: 5px 0;color: #333333;font-size: 16px;}
.panel-report .panel-body .pro-feature .content {color: #666;font-size: 13px;line-height: 22px;}

ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 0;
    margin:0;
}
ul.timeline:before {
    content: ' ';
    background: #333333;
    display: inline-block;
    position: absolute;
    left: 69px;
    width: 2px;
    height: 100%;
    z-index: 400;
    top: -30px;
}
ul.timeline:after {
    content: ' ';
    background: #333333;
    display: inline-block;
    position: absolute;
    left: 69px;
    width: 2px;
    height: 100%;
    z-index: 400;
    top: 0;
}
ul.timeline > li {
    margin: 0 0 20px;
    padding-left: 0;
    position: relative;
}
ul.timeline > li:first-child{margin-top: 28px;}

ul.timeline li .circle {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #333333;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    left: 40px;
    margin-top: 0;
    z-index: 1000;
    float: left;

}
ul.timeline li:last-child,ul.timeline li:last-child .pro-feature{margin-bottom: 0px;}

.no-chip{
    font-family:'COURBD';font-weight: bold; font-size: 13px; font-style: italic;
}

.agenda-list{padding: 0 0 0 24px;}
.progress-list{padding: 0 0 0 44px;}

.unorder-list {list-style: none;padding: 0;}
.unorder-list li{position: relative;padding: 0 20px;}
.unorder-list li::before{content: "-";font: normal normal normal 10px/1 FontAwesome;
    font-size: 20px;position: absolute;left: 0;top: -1px;display: inline-block;}

.icon-list{list-style: none;padding: 0;}
.icon-list li{position: relative;padding: 0 20px;}
.icon-list li::before{content: "\f00c";font: normal normal normal 10px/1 FontAwesome;font-size: 10px;position: absolute;
    left: 0;top: 5px;display: inline-block;color: #5db927;}
 .right-icon {font-size: 10px;}

.list{position: relative;padding: 0 20px;}
.list::before{content: "\f00c";font: normal normal normal 10px/1 FontAwesome; font-size: 10px;position: absolute;
    left: 0;top: 5px;display: inline-block;color: #5db927;}
.col-xs-8 {
    width: 75%;
    float: left;
}
.col-xs-4 {
    width: 25%;
    float: left;
}

@media(max-width: 992px){
    .main-head {font-size: 16px;}
    .chip{margin-top: 0px;font-size: 12px;}
    .col-6{width: 100%;}
    .panel-report .panel-body .panel-title .mrT5{margin-top: 0;}
}

@media(max-width: 600px){
.panel-report .panel-head {padding: 15px 15px;font-size: 13px;}
.panel-report .panel-head .picon {padding-right: 10px;}
ul.timeline li .circle {width: 40px;height: 40px;font-size: 9px;}
ul.timeline li .circle{left: 11px;}
ul.timeline::before {left: 29px;}
ul.timeline::after {left: 29px;}
.panel-report .panel-body .panel-title{padding-left: 38px;}
.panel-report .panel-body .pro-feature {padding-left: 38px;padding-right: 20px;}
.col-4{width: 100%;margin-bottom: 10px;}
.panel-title .float-left{float: none;}
.chip,.no-chip{margin: 0 20px;}
.panel-report .panel-head .picon img {width: 25px;}
.main-head {margin: 0 20px 5px;}
.chip{width: 82px;}

.logo img {height: 15px;}
.chip.float-right,.no-chip.float-right {float: none;}
.panel-report .panel-head i {font-size: 11px; }
.panel-report .panel-head .picon {padding-top: 3px;}
ul.timeline li .circle{top: -3px}
}
