<!DOCTYPE html>
<html>
<head>
<title>Weekly Progress Report</title>
<link href="./css/custom.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<div class="panel-report">
					<div class="panel-head">
							<span class="picon">
								<img src="develop.png" />
							</span>
						<span>Our Weekly Progess</span>
						<span class="logo float-right"><img src="logo.png"/></span>

					</div>
					<div class="panel-body">
							<ul class="timeline">
							<li>
								<div class="circle">
									JUNE<br>
									15<br>
									2018
								</div>
									<div class="panel-title">

										<h2 class="main-head float-left">Product Release 2.30</h2>
										<span class="chip float-left"><img src="right.png" /> RELEASED</span>
										<div class="clearfix"></div>
									</div>

								<div class="pro-feature">
								<div class="col-4">
									<div class="icon">
										<img src="feature.png" />
									</div>
									<div class="title">Feature 1</div>
									<div class="content">
										 A feature is a unit of functionalilty of a software system that satisfies a requirement
									</div>
								</div>
								<div class="col-4">
									<div class="icon">
										<img src="bug.png" />
									</div>
									<div class="title">Bug Fix 1</div>
									<div class="content">
										 A correction to a bug in a computer program or system
									</div>
								</div>
								<div class="col-4">
									<div class="icon">
										<img src="bug.png" />
									</div>
									<div class="title">Bug Fix 2</div>
									<div class="content">
										 A correction to a bug in a computer program or system
									</div>
								</div>
								<div class="clearfix"></div>
							</div>

							</li>
							<li>
								<div class="circle">
									JUNE<br>
									29<br>
									2018
								</div>
									<div class="panel-title">
										<h2 class="main-head float-left">Product Release 2.31</h2>
										<span class="chip float-left"><img src="right.png" /> RELEASED</span>
										<div class="clearfix"></div>
									</div>

								<div class="pro-feature">
								<div class="col-4">
									<div class="icon">
										<img src="feature.png" />
									</div>
									<div class="title">Feature 1</div>
									<div class="content">
										 A feature is a unit of functionalilty of a software system that satisfies a requirement
									</div>
								</div>
								<div class="col-4">
									<div class="icon">
										<img src="bug.png" />
									</div>
									<div class="title">Bug Fix 1</div>
									<div class="content">
										 A correction to a bug in a computer program or system
									</div>
								</div>
								<div class="col-4">
									<div class="icon">
										<img src="bug.png" />
									</div>
									<div class="title">Bug Fix 2</div>
									<div class="content">
										 A correction to a bug in a computer program or system
									</div>
								</div>
								<div class="clearfix"></div>
							</div>

							</li>
							<li>
								<div class="circle">
									JUNE<br>
									13<br>
									2018
								</div>
									<div class="panel-title">
										<h2 class="main-head float-left">Product Release 2.32</h2>
										<span class="float-left mrT5 no-chip"> SHEDULED</span>
										<div class="clearfix"></div>
									</div>

								<div class="pro-feature">
								<div class="col-4">
									<div class="icon">
										<img src="feature.png" />
									</div>
									<div class="title">Feature 1</div>
									<div class="content">
										 A feature is a unit of functionalilty of a software system that satisfies a requirement
									</div>
								</div>
								<div class="col-4">
									<div class="icon">
										<img src="bug.png" />
									</div>
									<div class="title">Bug Fix 1</div>
									<div class="content">
										 A correction to a bug in a computer program or system
									</div>
								</div>
								<div class="clearfix"></div>
							</div>

							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
