<!DOCTYPE html>
<html>
<head>
<title>Weekly Progress Report</title>
<link href="./css/custom.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<div class="panel-report">
					<div class="panel-head">
							<span class="picon">
								<img src="develop.png" />
							</span>
						<span>Our Weekly Progess</span>
						<span class="logo float-right"><img src="logo.png"/></span>
					</div>
					<div class="panel-body">
							<ul class="timeline">

<!-- Item Start -->
							<li>
								<div class="circle">
									SEP<br>
									18<br>
									2018
								</div>
									<div class="panel-title">
										<h2 class="main-head float-left">MVP1 Product Requirements Signoff</h2>
										<span class="chip float-right space-right"><img src="right.png" /> COMPLETED</span>
										<div class="clearfix"></div>
									</div>
								<div class="pro-feature">
								<div class="col-4">
									<div class="icon">
										<img src="feature.png" />
									</div>
									<div class="title">Agenda</div>
									<div class="content">
										 Create PRD with user stories for: <br/>
										 1. Ingestion Framework<br/>
										 2. Tealium integration into EDP<br/>
										 3. Amperity integration into EDP
									</div>
								</div>
								<div class="col-4">
									<div class="icon">
										<img src="bug.png" />
									</div>
									<div class="title">Progress</div>
									<div class="content">
										<span class="mark float-left"><img src="right.png" /></span> Reviewed PRD with Raj / Chris<br/>
										<span class="mark float-left"><img src="right.png" /></span> Reviewed feedback from John S / Ninad / Florence<br/>
										<span class="mark float-left"><img src="right.png" /></span> PRD signoff from Raj
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							</li>
<!-- Item End -->

<!-- Item Start -->
							<li>
								<div class="circle">
									OCT<br>
									15<br>
									2018
								</div>
									<div class="panel-title">
										<h2 class="main-head float-left">ARB / InfoSec Approval</h2>
										<span class="float-right space-right mrT5 no-chip">IN PROGRESS</span>
										<div class="clearfix"></div>
									</div>
								<div class="pro-feature">
								<div class="col-4">
									<div class="icon">
										<img src="feature.png" />
									</div>
									<div class="title">Agenda</div>
									<div class="content">
										1. Create detailed technical design / architecture documents<br/>
										2. Get ARB/InfoSec approval on the EDP implementation
									</div>
								</div>
								<div class="col-4">
									<div class="icon">
										<img src="bug.png" />
									</div>
									<div class="title">Progress</div>
									<div class="content">
										<span class="mark float-left"><img src="right.png" /></span>
										POCs done: <br/>
										&nbsp;&nbsp;&nbsp; 1. Databricks Spark vs HDInsight Spark<br/>
										&nbsp;&nbsp;&nbsp; 2. Azure Data Factory Pipelines<br/>
										&nbsp;&nbsp;&nbsp; 3. Azure ADLS<br/>
										&nbsp;&nbsp;&nbsp; 4. CosmosDB<br/>
										&nbsp;&nbsp;&nbsp; 5. Presto, Dremio<br/>
										<br/>
										- Working with InfoSec for architecture approval<br/>
										- Working on AAD and Atom documents
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							</li>
<!-- Item Start -->

<!-- Item Start -->
							<li>
								<div class="circle">
									NOV<br>
									16<br>
									2018
								</div>
									<div class="panel-title">
										<h2 class="main-head float-left">Tealium Integraion</h2>
										<span class="float-right space-right mrT5 no-chip">IN PROGRESS</span>
										<div class="clearfix"></div>
									</div>
								<div class="pro-feature">
								<div class="col-4">
									<div class="icon">
										<img src="feature.png" />
									</div>
									<div class="title">Agenda</div>
									<div class="content">
										Build and test data ingestion, storing and processing modules necessary to ingest clickstream data from Tealium.
									</div>
								</div>
								<div class="col-4">
									<div class="icon">
										<img src="bug.png" />
									</div>
									<div class="title">Progress</div>
									<div class="content">
										<span class="mark float-left"><img src="right.png" /></span> We have successfully tested Tealium clickstream data ingestion.
										<br/>
										<br/>
										- Working on storage and processing of Tealium data stream.

									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							</li>
<!-- Item End -->

<!-- Item Start -->
							<li>
								<div class="circle">
									DEC<br>
									14<br>
									2018
								</div>
									<div class="panel-title">
										<h2 class="main-head float-left">Amperity Integration</h2>
										<span class="float-right space-right mrT5 no-chip">IN PROGRESS</span>
										<div class="clearfix"></div>
									</div>
								<div class="pro-feature">
								<div class="col-4">
									<div class="icon">
										<img src="feature.png" />
									</div>
									<div class="title">Agenda</div>
									<div class="content">
										 Build and test data ingestion, storing and processing modules necessary to ingest Amperity data.
									</div>
								</div>
								<div class="col-4">
									<div class="icon">
										<img src="bug.png" />
									</div>
									<div class="title">Progress</div>
									<div class="content">
										- Working with Ameeta and Kathy to understand Amperity data.
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							</li>
<!-- Item End -->

<!-- Item Start -->
							<li>
								<div class="circle">
									JAN<br>
									11<br>
									2019
								</div>
									<div class="panel-title">
										<h2 class="main-head float-left">Data science modeling on EDP</h2>
										<!-- <span class="chip float-left"><img src="right.png" /> COMPLETED</span> -->
										<div class="clearfix"></div>
									</div>
								<div class="pro-feature">
								<div class="col-4">
									<div class="icon">
										<img src="feature.png" />
									</div>
									<div class="title">Agenda</div>
									<div class="content">
										 Enable model building and deployment using the EDP
									</div>
								</div>
								<div class="col-4">
									<div class="icon">
										<img src="bug.png" />
									</div>
									<div class="title">Progress</div>
									<div class="content">

									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							</li>
<!-- Item End -->

<!-- Item Start -->
							<li>
								<div class="circle">
									JAN<br>
									25<br>
									2019
								</div>
									<div class="panel-title">
										<h2 class="main-head float-left">Integration Testing / UAT</h2>
										<!-- <span class="chip float-left"><img src="right.png" /> COMPLETED</span> -->
										<div class="clearfix"></div>
									</div>
								<div class="pro-feature">
								<div class="col-4">
									<div class="icon">
										<img src="feature.png" />
									</div>
									<div class="title">Agenda</div>
									<div class="content">
										Integration and user acceptance tested software source code and executables that adheres to Gap code development standards.
									</div>
								</div>
								<div class="col-4">
									<div class="icon">
										<img src="bug.png" />
									</div>
									<div class="title">Progress</div>
									<div class="content">

									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							</li>
<!-- Item End -->

<!-- Item Start -->
							<li>
								<div class="circle">
									FEB<br>
									15<br>
									2019
								</div>
									<div class="panel-title">
										<h2 class="main-head float-left">MVP1 deployed in production</h2>
										<!-- <span class="chip float-left"><img src="right.png" /> COMPLETED</span> -->
										<div class="clearfix"></div>
									</div>
								<div class="pro-feature">
								<div class="col-4">
									<div class="icon">
										<img src="feature.png" />
									</div>
									<div class="title">Agenda</div>
									<div class="content">
										The Software code is Deployed in the Gap production environment as per Deployment Plan requirements then Deployment is validated and signed off by Gap
									</div>
								</div>
								<div class="col-4">
									<div class="icon">
										<img src="bug.png" />
									</div>
									<div class="title">Progress</div>
									<div class="content">
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							</li>
<!-- Item End -->


						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
